TIMEZONE="Europe/Berlin"
COOP_LATITUDE=
COOP_LONGITUDE=
OMLET_API_TOKEN="..."
OMLET_DEVICES=[{"id":"12345","open_offset":30,"close_offset":30},{"id":"67890","open_offset":30,"close_offset":30}]
EARLIEST_OPEN_TIME="08:00"
LATEST_OPEN_TIME="10:00"
EARLIEST_CLOSE_TIME="18:00"
LATEST_CLOSE_TIME="20:00"